/* @media (max-width:1649.99px) {
    body{
        background: rgb(16, 88, 182);
    }
    .own_container{
        max-width: 1350px;
    }
.more__info-items{
    margin-right: 100px;
}
.more__info-items{
    gap: 45px;
}
.more__info-item{
font-size: 25px;
}
} */